@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
body {
  background: #fff;
  font-family: "Varela Round", sans-serif;
  color: #000; }

header {
  float: left;
  width: 100%; }

video {
  -webkit-transform: rotateZ(90);
  transform: rotateZ(90); }

video {
  width: 100%;
  position: relative;
  margin-top: -32%;
  float: left; }

.header_menu {
  position: absolute;
  top: 0;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-top: 20px; }
  .header_menu ul {
    padding: 0px;
    display: inline-block;
    margin: 0 auto;
    text-align: center; }
  .header_menu li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin-right: 20px; }
  .header_menu li a {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    margin-top: 0px;
    float: left;
    line-height: 128px;
    font-size: 20px; }
  .header_menu li a:hover {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    text-decoration: none;
    color: #f8f506; }
  .header_menu li:nth-child(4) a {
    background: url("../images/logo.png") no-repeat;
    height: 128px;
    width: 128px;
    text-indent: -9999px;
    line-height: 128px;
    margin-right: 20px;
    margin-right: 65px;
    margin-left: 65px; }
  .header_menu li a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f8f506;
    transition: width .3s;
    position: absolute;
    bottom: 46px; }
  .header_menu li a:hover:after {
    width: 100%;
    transition: width .3s; }
  .header_menu li:nth-child(4) a:hover:after {
    display: none; }

.hero_area {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 37%;
  left: 50%; }
  .hero_area h2 {
    color: #f8f506;
    font-family: "Lobster", cursive;
    font-size: 90px; }
  .hero_area p {
    font-family: "Varela Round", sans-serif;
    color: #fff;
    font-size: 22px; }

.content-area {
  float: left;
  width: 100%;
  padding: 40px 0px; }
  .content-area .about_area_home {
    float: left;
    width: 100%; }
    .content-area .about_area_home h2 {
      color: #000;
      text-align: center;
      font-family: "Lobster", cursive;
      font-size: 50px;
      margin-top: 0px;
      margin-bottom: 35px; }
    .content-area .about_area_home .about_area_home img {
      display: block;
      margin: 0 auto; }

.big_text {
  float: left;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: -4px;
  margin-right: 10px;
  line-height: 1; }

.menu_wrapper {
  float: left;
  width: 100%;
  padding: 0px;
  min-height: 500px;
  background-attachment: fixed !important;
  position: relative;
  text-align: center; }
  .menu_wrapper h2 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    color: #f8f506;
    margin: 0px;
    margin-top: 160px; }
  .menu_wrapper h3 {
    font-family: "Lobster", cursive;
    font-size: 50px;
    color: #f8f506;
    margin: 0px; }

.menu_tabs_outer {
  position: absolute;
  bottom: -7px;
  width: 100%; }

.menu_tabs {
  border-bottom: 10px solid #f8f506;
  margin: 0;
  background: rgba(17, 17, 17, 0.8);
  overflow: hidden;
  float: none;
  display: inline-block; }
  .menu_tabs ul {
    margin: 0px;
    padding: 0px 40px; }
  .menu_tabs li {
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    line-height: 16px; }
  .menu_tabs a {
    text-decoration: none;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 24px;
    text-align: left; }
  .menu_tabs li:last-child a {
    margin-right: 0px;
    padding-right: 0px; }
  .menu_tabs li:last-child a:after {
    display: none; }
  .menu_tabs a:hover {
    color: #f8f506; }
  .menu_tabs a:after {
    border-right: 1px dashed #5d5d5c;
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0; }
  .menu_tabs span {
    margin-right: 12px;
    margin-top: -10px;
    float: left;
    margin-right: 12px;
    margin-top: -1px;
    float: left;
    font-size: 38px;
    color: #f8f506; }
  .menu_tabs .small_text {
    font-size: 11px !important; }

.menu_data {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 40px 0px; }
  .menu_data .data_outer {
    float: left;
    width: 100%;
    border: 1px dashed #888888;
    position: relative; }
  .menu_data .data_outer:hover {
    border: 1px solid  #888888; }
  .menu_data .image_wrapper {
    float: left;
    width: 110px;
    height: 110px;
    background: #f8f506;
    margin-right: 10px; }
  .menu_data .text_wrapper {
    float: left;
    margin-top: 15px; }
  .menu_data h5 {
    font-family: "Lobster", cursive;
    font-size: 30px;
    margin-bottom: 4px; }
  .menu_data p {
    font-size: 12px;
    font-style: italic; }
  .menu_data .price_wrapper {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: center;
    font-weight: bold; }

.tab1 .col-sm-6 .row {
  padding: 0px 15px;
  margin: 15px 0px; }

.slider_top {
  float: left;
  width: 100%;
  padding: 40px 0px; }
  .slider_top h2 {
    color: #000;
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 35px; }

.owl-prev {
  position: absolute;
  left: -37px;
  top: 31%;
  font-size: 40px !important; }

.owl-next {
  position: absolute;
  right: -37px;
  top: 31%;
  font-size: 40px !important; }

.about_area_home img {
  display: block;
  margin: 0 auto; }

.view_all {
  display: inline-block;
  margin: 24px auto 0px;
  padding: 10px 55px;
  font-size: 18px !important;
  color: #000;
  background: #f8f506; }

.view_all:hover {
  display: inline-block;
  margin: 24px auto 0px;
  padding: 10px 55px;
  font-size: 18px !important;
  color: #000;
  background: #f8f506; }

/*# sourceMappingURL=style.css.map */
